<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nathan.Woodburn/</title>
    <link rel="icon" href="/assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/assets/css/500.css">
</head>

<body>
    <div class="spacer"></div>
    <div class="centre">
        <h1>500 | Internal Server Error</h1>
        <p>Sorry, something went wrong on our end.</p>
        <p class="code">{{ message }}</p>
        <p><a href="/">Go back to the homepage</a></p>
    </div>
</body>

</html>